.badgescontainer{
    height: 100%;
    width: 80%;
    padding-top: 4rem/* 64px */;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .badgescontainer{
        width: 100%;
        margin: 0 1rem;
    }
}
    